<div class="cadastroBackground">
  <div class="cadastroContainer">
    <div class="itensContainer">
      <h1 class="titulo">Grupo C</h1>
      <form (ngSubmit)="enviar()">
        <div class="demo_wrap">
          <h1>Argentina</h1>
          <img
            src="https://cdn.countryflags.com/thumbs/argentina/flag-400.png"
          />
          <div>
            <select name="Argentina" required [(ngModel)]="Argentina">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="ArgentinaPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="ArgentinaPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Arábia Saudita</h1>
          <img
            src="https://cdn.countryflags.com/thumbs/saudi-arabia/flag-400.png"
          />
          <div>
            <select name="ArabiaSaudita" required [(ngModel)]="ArabiaSaudita">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="ArabiaSauditaPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="ArabiaSauditaPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>México</h1>
          <img src="https://cdn.countryflags.com/thumbs/mexico/flag-400.png" />
          <div>
            <select name="Mexico" required [(ngModel)]="Mexico">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="MexicoPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="MexicoPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Polônia</h1>
          <img src="https://cdn.countryflags.com/thumbs/poland/flag-400.png" />
          <div>
            <select name="Polonia" required [(ngModel)]="Polonia">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              name="PoloniaPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="PoloniaPontos"
            />
          </div>
        </div>
        <div class="submitContainer">
          <button *ngIf="HabilitaPalpite == true" type="submit" class="button">
            Registrar
          </button>
          <a class="loginButton" routerLink="/painel">Menu</a>
        </div>
      </form>
    </div>
  </div>
</div>
