<div class="container mt-5">
  <div class="row jsustify-content-center mb-3">
    <div class="d-flex justify-content-center mb-2">
      <img class="text-center" width="55" height="55" src="./assets/img/copa-do-mundo.png" alt="">
    </div>
    <p class="text-center text-muted fs-6">Portal do Torcedor</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="card rounded-0">
        <div class="card-body">
          <h3 class="card-title text-center text-success fw-bold">Recuperar senha</h3>
          <p class="text-center text-success">Digite seu email para receber um link de recuperação</p>
          <form (ngSubmit)="enviar()" [formGroup]="recuperarSenhaForm">
            <div class="mb-3">
              <input type="email" class="form-control rounded-0" id="recoverEmail" formControlName="email" name="email" placeholder="Email" required />
            </div>
            <button type="submit" class="btn btn-success rounded-0 w-100">Enviar</button>
            <button [routerLink]="''" type="button" class="btn btn-outline-success rounded-0 w-100 mt-2">Voltar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
