<div class="cadastroBackground">
  <div class="cadastroContainer">
    <div class="itensContainer">
      <h1 class="titulo">Grupo A</h1>
      <form (ngSubmit)="enviar()">
        <div class="demo_wrap">
          <h1>Qatar</h1>
          <img src="https://cdn.countryflags.com/thumbs/qatar/flag-800.png" />
          <div>
            <select name="Qatar" required [(ngModel)]="Qatar">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="qatarpts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="QatarPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Ecuador</h1>
          <img src="https://cdn.countryflags.com/thumbs/ecuador/flag-400.png" />
          <div>
            <select name="Ecuador" required [(ngModel)]="Ecuador">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="ecuadorpts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="EcuadorPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Senegal</h1>
          <img src="https://cdn.countryflags.com/thumbs/senegal/flag-400.png" />
          <div>
            <select name="Senegal" required [(ngModel)]="Senegal">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="senegalpts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="SenegalPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Holanda</h1>
          <img
            src="https://cdn.countryflags.com/thumbs/netherlands/flag-400.png"
          />
          <div>
            <select name="Holanda" required [(ngModel)]="Holanda">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              required
              name="holandapts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="HolandaPontos"
            />
          </div>
        </div>
        <div class="submitContainer">
          <button *ngIf="HabilitaPalpite == true" type="submit" class="button">
            Registrar
          </button>
          <a class="loginButton" routerLink="/painel">Menu</a>
        </div>
      </form>
    </div>
  </div>
</div>
