<app-cabecalho [mostrarBotaoVoltar]="true"></app-cabecalho>
<div class="container">

  <div class="row mt-4">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Regras do bolão</h4>
      <button *ngIf="usuarioEhAdmin" type="button" class="btn btn-link text-success p-0 text-decoration-none flex-shrink-0"
        (click)="navigateToEditBolao()">
        <i class="fa-solid fa-pen-to-square me-1"></i>
        Editar bolão
      </button>
    </div>
    <p class="text-muted mt-1 mb-0">Confira todas as regras e critérios de pontuação deste bolão</p>
  </div>

  <!-- Regras Cards -->
  <div class="row mt-2">
    <div class="col-md-6 mb-4" *ngFor="let regra of bolao?.regras">
      <div class="card rounded-3 shadow-sm">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
              <h5 class="mb-0">{{ regra.descricao }}</h5>
            </div>
            <div class="badge bg-success px-3 py-2 rounded-pill">+{{ regra.pontuacao }} pts</div>
          </div>
          <p class="card-text text-muted">
            {{ regra.explicacao }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Message for when there are no rules -->
  <div class="row mt-4" *ngIf="!bolao?.regras || bolao?.regras?.length === 0">
    <div class="col-12 text-center">
      <p class="text-muted">Nenhuma regra definida para este bolão.</p>
    </div>
  </div>
</div>