<div class="container mt-5">
  <div class="row jsustify-content-center mb-3">
    <div class="d-flex justify-content-center mb-2">
      <img class="text-center" width="55" height="55" src="./assets/img/copa-do-mundo.png" alt="">
    </div>
    <p class="text-center text-muted fs-6">Portal do Torcedor</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="card rounded-0">
        <div class="card-body">
          <h3 class="card-title text-center text-success fw-bold">Copa do Mundo</h3>
          <p class="text-center text-success">Entre com suas credenciais para acessar</p>
          <form [formGroup]="loginForm" (ngSubmit)="autenticar()">
            <div class="mb-3">
              <div class="input-group rounded-0">
                <span class="input-group-text rounded-0"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control rounded-0" id="loginEmail" formControlName="email"
                  placeholder="E-mail" required />
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group rounded-0">
                <span class="input-group-text rounded-0"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control rounded-0" id="loginPassword" formControlName="senha"
                  placeholder="Senha" required />
              </div>
            </div>
            <button type="submit" class="btn btn-success rounded-0 w-100">Entrar</button>
          </form>
          <div class="mt-3 text-center d-flex align-items-center justify-content-center">
            <p class="m-0">Não tem uma conta?</p>
            <a [routerLink]="'./inserir'" class="text-decoration-none text-success mx-1">Cadastre-se</a>
          </div>
          <div class="mt-1 text-center">
            <a [routerLink]="'./recuperar-senha'" class="text-decoration-none text-success">Esqueceu a senha?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner name="loadLogin" bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin" [fullScreen]="true">
  <p class="text-white p-0">Carregando</p>
</ngx-spinner>