<div class="cadastroBackground">
  <div class="cadastroContainer">
    <div class="itensContainer">
      <h1 class="titulo">Grupo H</h1>
      <form (ngSubmit)="enviar()">
        <div class="demo_wrap">
          <h1>Portugal</h1>
          <img
            src="https://cdn.countryflags.com/thumbs/portugal/flag-800.png"
          />
          <div>
            <select name="Portugal" required [(ngModel)]="Portugal">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              name="PortugalPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="PortugalPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Gana</h1>
          <img src="https://cdn.countryflags.com/thumbs/ghana/flag-800.png" />
          <div>
            <select name="Gana" required [(ngModel)]="Gana">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              name="GanaPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="GanaPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Uruguai</h1>
          <img src="https://cdn.countryflags.com/thumbs/uruguay/flag-800.png" />
          <div>
            <select name="Uruguai" required [(ngModel)]="Uruguai">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              name="UruguaiPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="UruguaiPontos"
            />
          </div>
        </div>
        <div class="demo_wrap">
          <h1>Coreia do Sul</h1>
          <img
            src="https://cdn.countryflags.com/thumbs/south-korea/flag-800.png"
          />
          <div>
            <select name="CoreiaDoSul" required [(ngModel)]="CoreiaDoSul">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
            <input
              name="CoreiaDoSulPts"
              type="number"
              min="0"
              placeholder="Pts"
              [(ngModel)]="CoreiaDoSulPontos"
            />
          </div>
        </div>
        <div class="submitContainer">
          <button *ngIf="HabilitaPalpite == true" type="submit" class="button">
            Registrar
          </button>
          <a class="loginButton" routerLink="/painel">Menu</a>
        </div>
      </form>
    </div>
  </div>
</div>
