<app-cabecalho></app-cabecalho>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center ms-2 me-2 mb-3">
    <div class="">
      <h5 class="m-0">Sua aposta:</h5>
      <p class="text-muted m-0">Nao esqueça de salvar!</p>
    </div>
    <a href="#" class="text-decoration-none">Ver Regras</a>
  </div>

  <div [ngSwitch]="modoJogo?.id">
    <div *ngSwitchCase="1">
      <!-- Cada componente agora contém sua própria estrutura de accordion -->
      <app-fase-de-grupo-accordion [hashBolao]="bolaoToken" [esconderPontuacao]="esconderPontuacao" (emitirAtualizar)="faseGrupoAtualizada = $event" (emitirPalpiteGrupoCompleto)="palpiteGrupoCompleto = $event"></app-fase-de-grupo-accordion>
      <app-melhores-terceiros-accordeon [hashBolao]="bolaoToken" [atualizarDeFaseDeGrupo]="faseGrupoAtualizada" (emitirPalpiteTerceiroCompleto)="palpiteTerceiroCompleto = $event" class="mt-2"></app-melhores-terceiros-accordeon>
      <app-fase-eliminatoria [hashBolao]="bolaoToken" [modoClicarParaAvancarDeFase]="true" [habilitado]="palpiteGrupoCompleto && palpiteTerceiroCompleto" class="mt-2"></app-fase-eliminatoria>
      <app-artilheiro-modal [hashBolao]="bolaoToken" class="mt-2" *ngIf="contemRegra('Acertou artilheiro')"></app-artilheiro-modal> 
    </div>
    <div *ngSwitchDefault>
      <p>Tipo de regra não suportado.</p>
    </div>
  </div>
</div>