<div class="cadastroBackground">
  <div class="cadastroContainer">
    <div class="itensContainer">
      <h2 class="titulo">Regras</h2>
      <div class="tabelaContainer">
        <h3 style="margin: 10px">Pontuação</h3>
        <table style="width: 100%">
          <tr>
            <td>Regra</td>
            <td>Pontos</td>
          </tr>
          <tr>
            <td>Acertou a posição do país na fase de grupos:</td>
            <td>2 pontos</td>
          </tr>
          <tr>
            <td>Acertou a pontuação do país na fase de grupos:</td>
            <td>2 pontos</td>
          </tr>
          <tr>
            <td>Acertou o placar do Brasil:</td>
            <td>5 pontos</td>
          </tr>
          <tr>
            <td>Acertou país nas oitavas*:</td>
            <td>2 pontos</td>
          </tr>
          <tr>
            <td>Acertou país quartas*:</td>
            <td>4 pontos</td>
          </tr>
          <tr>
            <td>Acertou país semis*:</td>
            <td>6 pontos</td>
          </tr>
          <tr>
            <td>Acertou país final*:</td>
            <td>8 pontos</td>
          </tr>
          <tr>
            <td>Acertou campeão:</td>
            <td>10 pontos</td>
          </tr>
        </table>

        <h6 style="font-weight: 300; margin-top: 12px">
          *Posição do país não interfere na pontuação. <br />
          Fase de grupos total = 128 pts <br />
          Mata a mata total = 114 pts <br />
          Jogos do Brasil = 15 ~ 35 pts
        </h6>
        <h3 style="margin: 10px">Premiação</h3>
        <h6 style="font-weight: 300; margin-top: 12px">
          Primeiro colocado = 80% do pote* <br />
          Segundo colocado = 20% do pote* <br />
          Terceiro colocado = Recebe o quanto pagou. <br />
          *Pote = Premio total - (taxa do site + premio terceiro lugar)
          Caso pote > 1000 reais = Primeiro 65%, segundo 25%, terceiro 10%.
        </h6>
        <h3 style="margin: 10px">Duvidas ou problemas</h3>
        <h6 style="font-weight: 300; margin-top: 12px">
          Falar com Marco Polo, tel (27)992225225
        </h6>
      </div>
      <div class="submitContainer">
        <a class="loginButton" routerLink="/painel">Menu</a>
      </div>
    </div>
  </div>
</div>
