<div class="cadastroBackground">
  <div class="cadastroContainerr">
    <div class="cadastroElements">
      <div class="logoContainerr">
        <div class="logo"></div>
      </div>
      <h3 class="titulo">Entrar na minha conta</h3>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="inputContainerr">
          <input
            class="input"
            type="text"
            placeholder="Digite seu usuário"
            [(ngModel)]="usuario"
            name="usuario"
            #campoUsuario="ngModel"
            required
          />
          <app-mensagem 
          *ngIf="campoUsuario.invalid && campoUsuario.touched" 
          mensagem="Obrigatorio" ></app-mensagem>
        </div>
        <div class="inputContainerr">
          <input
            class="input"
            type="password"
            placeholder="Digite sua senha"
            [(ngModel)]="senha"
            name="senha"
            #campoSenha="ngModel"
            required
          />
          <app-mensagem 
          *ngIf="campoSenha.invalid && campoSenha.touched" 
          mensagem="Obrigatorio"></app-mensagem>
        </div>

        <div class="submitContainerr">
          <button type="submit" class="button" [disabled]="loginForm.invalid">Login</button>
          <a [routerLink]="['novo-usuario']" class="cadastrooButton">Cadastrar</a>
        </div>
      </form>
    </div>
  </div>
</div>
