<div class="cadastroBackground">
  <div class="cadastroContainer">
    <div class="itensContainer">
      <h2 class="titulo">Rank</h2>
      <div class="tabelaContainer">
        <table style="width: 100%">
          <tr>
            <th>Usuario</th>
            <th>Pontos</th>
            <th>Posição</th>
          </tr>
          <tr *ngFor="let user of customers; let i = index">
            <td *ngIf="i == 0" [ngStyle]="{ color: 'green' }">
              {{ user.usuario }}
            </td>
            <td *ngIf="i == 0" [ngStyle]="{ color: 'green' }">
              {{ user.pontuacao }}
            </td>
            <td *ngIf="i == 0" [ngStyle]="{ color: 'green' }">
              {{ i + 1 + "º" }}
            </td>
            <td *ngIf="i == 1 || i == 2" [ngStyle]="{ color: 'lightgreen' }">
              {{ user.usuario }}
            </td>
            <td *ngIf="i == 1 || i == 2" [ngStyle]="{ color: 'lightgreen' }">
              {{ user.pontuacao }}
            </td>
            <td *ngIf="i == 1 || i == 2" [ngStyle]="{ color: 'lightgreen' }">
              {{ i + 1 + "º" }}
            </td>
            <td *ngIf="i > 2" [ngStyle]="{ color: 'lightgrey' }">
              {{ user.usuario }}
            </td>
            <td *ngIf="i > 2" [ngStyle]="{ color: 'lightgrey' }">
              {{ user.pontuacao }}
            </td>
            <td *ngIf="i > 2" [ngStyle]="{ color: 'lightgrey' }">
              {{ i + 1 + "º" }}
            </td>
          </tr>
        </table>
      </div>
      <div class="submitContainer">
        <a class="loginButton" routerLink="/painel">Menu</a>
      </div>
    </div>
  </div>
</div>
