<style>
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .circle {
        height: 4em;
        width: 4em;
        border-radius: 50%;
        background-size: cover;
    }

    .active {
        border: 2px solid green;
    }
</style>
<div class="container">
    <div *ngIf="pais" class="circle" [ngStyle]="{'background-image': 'url(' + pais.bandeira + ')'}"
        [ngClass]="{active: active}" (click)="onClick()"></div>
    <div *ngIf="!pais" class="circle" [ngStyle]="{'background': '#ccc'}"></div>
</div>