.cadastroBackground {
    background: url("https://st2.depositphotos.com/3725083/5769/i/450/depositphotos_57693407-stock-photo-light-of-american-stadium.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    
  }
  .cadastroContainer {
    height: 500px;
    width: 500px;
    border-radius: 80px;
    overflow: hidden;
    background-color: #1b1b1b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cadastroElements {
    padding-bottom: 60px;
  }
  .logoContainer {
    width: 500px;
    height: 100px;
  }
  .logo {
    background: url("https://github.com/poleira/World-Cup-Betting-Game/blob/master/Bolao%20(frontend)/img/Bol%C3%A3o_do_hexa_preto-removebg-preview.png?raw=true");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
    width: 80%;
    height: 80%;
    
    margin-left: 61px;
    background-size: 200px 200px;
  }
  .titulo {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
  }
  .inputContainer {
    border-radius: 30px;
    height: 36px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    align-items: center;
    display: flex;
  }
  .input {
    height: 20px;
    width: 400px;
    margin-left: 5px;
    background-color: white;
    border-style: hidden;
    box-shadow: 0px 0px 0px 0px white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .submitContainer {
    height: 120px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 37px;
  }
  .button {
    padding: 1.3em 5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button:hover {
    background-color: #e52e2e;
    box-shadow: 0px 15px 20px rgba(206, 57, 37, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-1px);
  }
  
  .esqueceuSenha {
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 10px;
    font-family: arial;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .esqueceuSenha:hover {
    text-decoration: underline;
  }
  
  .ou {
    color: lightgrey;
    text-decoration: none;
    margin-top: 10px;
    font-family: arial;
    font-size: small;
  }
  
  .loginButton {
    background: none;
    color: lightgray;
    text-decoration: none;
    margin-top: 10px;
    font-family: arial;
    font-size: small;
    box-shadow: 0 0 0 0;
    border: none;
    justify-content: flex-end;
  }
  
  .loginButton:hover {
    text-decoration: underline;
  }
  
  