<div class="cadastroBackground">
    <div class="cadastroContainer">
      <div class="logoContainer">
        <div class="logo"></div>
      </div>
      <form (ngSubmit)="cadastrar()" [formGroup]="novoUsuarioForm"  >
        <div class="inputContainer">
          <input
            class="input"
            type="text"
            placeholder="Digite seu nome completo"
            name="nome"
            formControlName="Nome" 
          />
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Nome')?.hasError('required') &&
          novoUsuarioForm.get('Nome')?.touched
          "
          mensagem="Obrigatorio"></app-mensagem>
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Nome')?.hasError('maxlength') &&
          novoUsuarioForm.get('Nome')?.touched
          "
          mensagem="Mto grande"></app-mensagem>
        </div>
        <div class="inputContainer">
          <input
            class="input"
            type="text"
            placeholder="Digite seu token"
            name="token"
            formControlName="Token"
          />
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Token')?.hasError('required') &&
          novoUsuarioForm.get('Token')?.touched
          "
          mensagem="Obrigatorio"></app-mensagem>
        <app-mensagem *ngIf="
          novoUsuarioForm.get('Token')?.hasError('maxlength') &&
          novoUsuarioForm.get('Token')?.touched
          "
          mensagem="Mto grande"></app-mensagem>
        </div>
        <div class="inputContainer">
          <input
            class="input"
            type="text"
            placeholder="Usuário"
            name="usuario"
            formControlName="Usuario"
          />
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Usuario')?.hasError('required') &&
          novoUsuarioForm.get('Usuario')?.touched
          "
          mensagem="Obrigatorio"></app-mensagem>
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Usuario')?.hasError('maxlength') &&
          novoUsuarioForm.get('Usuario')?.touched
          "
          mensagem="Mto grande"></app-mensagem>
        </div>
        <div class="inputContainer">
          <input
            class="input"
            type="password"
            placeholder="Digite sua senha"
            name="senha"
            formControlName="Senha"
          />
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Senha')?.hasError('required') &&
          novoUsuarioForm.get('Senha')?.touched
          "
          mensagem="Obrigatorio"></app-mensagem>
          <app-mensagem *ngIf="
          novoUsuarioForm.get('Senha')?.hasError('maxlength') &&
          novoUsuarioForm.get('Senha')?.touched
          "
          mensagem="Mto grande"></app-mensagem>
        </div>
        <div class="inputContainer">
          <input
            class="input"
            type="password"
            placeholder="Repita sua senha"
            name="senhaRepet"
            formControlName="SenhaRepet"
        />
        <app-mensagem *ngIf="
          novoUsuarioForm.get('SenhaRepet')?.errors?.['confirmedValidator'] &&
          novoUsuarioForm.get('SenhaRepet')?.touched
          "
          mensagem="Senha diferente"></app-mensagem>
        </div>
        <div class="submitContainer">
          <button type="submit" class="button" [disabled]="novoUsuarioForm.invalid">Cadastrar</button>
          <a class="loginButton" [routerLink]="['']" >Login</a>
        </div>
      </form>
    </div>
  </div>
  
