@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #f5f5f5 !important;
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/* Garantir que elementos específicos também usem a fonte */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

p, span, div, button, input, textarea, select {
  font-family: 'Quicksand', sans-serif;
}

/* Estilos específicos para diferentes pesos da fonte */
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Forçar toast do ngx-toastr a usar position: fixed para ser sempre visível */
.toast-container {
  position: fixed !important;
  z-index: 9999 !important;
}

.toast {
  position: relative;
}