<style>
  .container {
    columns: 9;
    height: 100%;
    display: flex;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 10%;
    padding: 2em 0;
  }

  app-mata-mata-pais {
    padding: 1em 0;
    flex-grow: 1;
  }

  app-mata-mata-pais.border {
    border-bottom: 3px solid #ccc;
  }

  app-mata-mata-pais.spacer {
    padding-bottom: 2em;
  }

  label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #aaa;
  }

  .col {
    background: #fafafa;
  }

  .col.darker {
    background: #f5f5f5;
  }

  .root {
    display: flex;
    flex-direction: column;
  }

  .background {
    background: url("https://st2.depositphotos.com/3725083/5769/i/450/depositphotos_57693407-stock-photo-light-of-american-stadium.jpg");
    background-size: cover;
    width: 100%;
    height: 150vh;
    color: white;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .backgroundContainer {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 20px;
    background-color: #1b1b1b;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button {
    padding: 1.3em 5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    background-color: #e52e2e;
    box-shadow: 0px 15px 20px rgba(206, 57, 37, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button:active {
    transform: translateY(-1px);
  }

  .loginButton {
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 10px;
    font-family: arial;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
</style>
<div class="background">
  <div class="backgroundContainer">
    <div class="root">
      <div class="container">
        <div
          class="col"
          *ngFor="let _paises of paises; let i = index"
          [ngClass]="{ darker: i % 2 == 0 }"
        >
          <app-mata-mata-pais
            *ngFor="let pais of _paises; let j = index"
            [pais]="pais"
            [index]="[i, j]"
            [active]="isActive(pais, [i, j])"
            (clicked)="onPaisClick($event)"
            [ngClass]="{
              border: j % 2 == 0 && ![3, 4, 5].includes(i),
              spacer: j % 2 == 1
            }"
          >
          </app-mata-mata-pais>
          <label>
            {{ labels[i] }}
          </label>
        </div>
      </div>
      <div class="buttonContainer">
        <button *ngIf="edit.geral == true" class="button" (click)="send()">
          Enviar
        </button>
        <a class="loginButton" routerLink="/painel">Menu</a>
      </div>
    </div>
  </div>
</div>
