<div class="col-md-12 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid mx-2">
            <div class="navbar-brand" *ngIf="!mostrarBotaoVoltar" (click)="navegarHome()">
                <img src="assets/img/copa-do-mundo.png" alt="Logo" width="24" height="24"
                    class="d-inline-block align-text-top">
                <span class="ms-2">Bolão do Hexa</span>
            </div>

            <button 
                *ngIf="mostrarBotaoVoltar"
                type="button"
                class="btn btn-link navbar-brand d-flex align-items-center text-decoration-none"
                (click)="voltarPagina()"
            >
                <i class="fa-solid fa-chevron-left"></i>
                <span class="ms-2">Voltar</span>
            </button>

            <button class="navbar-toggler" type="button" (click)="toggleSideMenu()"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-none d-lg-flex justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-circle-user mx-2"></i>
                    <p class="mb-1">{{ recuperarUsuarioLogado().nome }}</p>
                </div>

                <div class="border mx-2" style="height: 30px;"></div>

                <button class="btn btn-success btn-sm" (click)="toggleSideMenu()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <div class="side-menu" [class.active]="isSideMenuOpen">
                <div class="side-menu-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="ms-2">Bolão do Hexa</span>
                        <button class="btn btn-close" (click)="toggleSideMenu()"></button>
                    </div>
                </div>
                <div class="side-menu-content">
                    <div class="d-flex align-items-center p-3">
                        <i class="fa-regular fa-circle-user mx-2"></i>
                        <p class="mb-1">{{ recuperarUsuarioLogado().nome }}</p>
                    </div>
                    <div>
                        <hr class="p-0 m-0"> 
                        <a class="nav-link p-2" (click)="navegarHome()">
                            <i class="fa-solid fa-house me-2"></i>
                            Home
                        </a>
                        <hr class="p-0 m-0">    
                        <a class="nav-link p-2 ml-1" (click)="navegarConfiguracoes()">
                            <i class="fa-solid fa-user me-2"></i>
                            Alterar info usuário
                        </a>
                        <hr class="p-0 m-0">  
                        <a class="nav-link p-2 position-relative" (click)="abrirModalNotificacoes(this.modalNotificacoes, 'modal-lg')">
                            <i class="fa-solid fa-envelope me-2">
                                <span *ngIf="existeNotificacoes" class="position-absolute top-75 translate-middle p-1 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">pendência</span>
                                </span>
                            </i>
                            Solicitações
                        </a>
                        <hr class="p-0 m-0">  
                        <a class="nav-link p-2" (click)="abrirModalDonate(this.modalDonate, 'modal-lg')">
                            <i class="fa-solid fa-hand-holding-heart me-2"></i>
                            Doar
                        </a>
                        <hr class="p-0 m-0">  
                    </div>
                    <div class="p-3">
                        <button class="btn btn-success btn-sm w-100" (click)="logout()">
                            <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="menu-overlay" [class.active]="isSideMenuOpen" (click)="toggleSideMenu()"></div>

<ng-template #modalNotificacoes>
  <app-notificacoes-modal 
    (fecharModal)="fecharModal()"
    (semNotificacoes)="existeNotificacoes = false">
  </app-notificacoes-modal>
</ng-template>

<ng-template #modalDonate>
  <div class="modal-header border-0 pb-0">
    <h5 class="modal-title fw-bold">❤️ Apoie o projeto</h5>
    <button type="button" class="btn-close" (click)="fecharModal()"></button>
  </div>
  <div class="modal-body text-center py-4">
    <i class="fa-solid fa-hand-holding-heart text-danger mb-3" style="font-size: 3rem;"></i>
    <p class="text-muted mb-4">Se você curte o Bolão do Hexa e quer ajudar a manter o projeto no ar, considere fazer uma doação. Qualquer valor é bem-vindo e faz toda a diferença! 🙏</p>
    <div class="border rounded p-3 bg-light d-flex align-items-center justify-content-between gap-2">
      <span class="fw-semibold text-break">marcoperciano@gmail.com</span>
      <button class="btn btn-outline-success btn-sm flex-shrink-0" (click)="copiarPix()">
        <i class="fa-regular fa-copy me-1"></i>Copiar
      </button>
    </div>
    <p class="text-muted mt-2 small">Chave Pix (e-mail)</p>
  </div>
  <div class="modal-footer border-0 pt-0">
    <button type="button" class="btn btn-success w-100" (click)="fecharModal()">Fechar</button>
  </div>
</ng-template>